.ComponentesTablaCl table {
}

.ComponentesTablaCl table.tablaAzul {
  text-align: center;
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.ComponentesTablaCl table.tablaAzul td,
table.tablaAzul th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
.ComponentesTablaCl table.tablaAzul tbody td {
  font-size: 13px;
}
.ComponentesTablaCl table.tablaAzul tr:nth-child(even) {
  background: #d0e4f5;
}
.ComponentesTablaCl table.tablaAzul thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444444;
}
.ComponentesTablaCl table.tablaAzul thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
.ComponentesTablaCl table.tablaAzul thead th:first-child {
  border-left: none;
}

.ComponentesTablaCl table.tablaAzul tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
.ComponentesTablaCl table.tablaAzul tfoot td {
  font-size: 14px;
}
.ComponentesTablaCl table.tablaAzul tfoot .links {
  text-align: right;
}
.ComponentesTablaCl table.tablaAzul tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
